---
const response = await fetch(`https://precious-manatee-ee242e.netlify.app/.netlify/functions/get-product-list`);
const body = await response.json();
const products = body.data;

console.log({products})
---
<section>
  <h1>Products</h1>
  {JSON.stringify(products)}
</section>
