---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../config';
import Pdp from '../../components/pdp.astro';

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class='p-12'>
		<Header title={SITE_TITLE} />
		<main>
			<Pdp/>
		</main>
		<Footer />
	</body>
</html>